<a href="https://colab.research.google.com/github/Rabiya-k/Python/blob/main/Star_Pattern.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Hollow square

In [1]:
#define a function

def pattern(n):
   for i in range(n):
      for j in range(n):
         # printing stars
         if i == 0 or i == n-1 or j == 0 or j == n-1:
            print("*", end=" ")
         else:
            print(" ", end=" ")
      print("\r")

# take inputs
n = int(input('Enter the number of rows: '))

# calling function
pattern(n)

Enter the number of rows: 9
* * * * * * * * *
*               *
*               *
*               *
*               *
*               *
*               *
*               *
* * * * * * * * *

#Filled Square

In [2]:
#Using Nested forloop
side = int(input("enter side of a square:"))

for i in range(side):
  for j in range(side):
    print("* ", end="")
  print()

enter side of a square:9
* * * * * * * * *
* * * * * * * * *
* * * * * * * * *
* * * * * * * * *
* * * * * * * * *
* * * * * * * * *
* * * * * * * * *
* * * * * * * * *
* * * * * * * * *

#Triangles

In [3]:
#define a function
def star_pattern3(n):
  space = n

  #outer loop for rows
  for i in range(1, n+1):

   #inner loop1 for print space
    for j in range(1, space+1):
      print(" ", end="")
    #inner loop2 for print star
    for k in range(1, i+1):
      print("* ", end="")
    #end of line after each row
    print()
    # for decrease space
    space= space-1
n = int(input("enter the no of row:"))
star_pattern3(n)

enter the no of row:9
         *
        * *
       * * *
      * * * *
     * * * * *
    * * * * * *
   * * * * * * *
  * * * * * * * *
 * * * * * * * * *

In [4]:
#define a function

def star_patterna(n):


  for i in range(1, n+1):
      for j in range(1, i+1):
         print("* ",end="")
      print()


  for i in range(n, 0, -1):
      for j in range(1, i):
         print("* ",end="")
      print()
n= int(input("no of rows:"))
star_patterna(n)

no of rows:9
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [5]:
#Using Nested forloop

rows = int(input("Enter number of rows:"))
for i in range(1, rows+1):
    for j in range(1, i + 1):
        print("*", end=' ')
    print()

for i in range(rows, 1, -1):
    for j in range(1, i):
        print("*", end=' ')
    print()

Enter number of rows:9
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [6]:
#define a function
def star_pattern1(n):


  #outer for loop for rows
  for i in range(1, n+1):

      #inner for loop for columns/star
      for j in range(1, i+1):

          #print star in each row
          print("* ",end="")

      #end of line after each row
      print()
n=int(input("enter no of rows:"))
star_pattern1(n)

enter no of rows:9
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *

#Inverted Triangles

In [7]:
#define a function
def star_pattern4(n):
  space = n

  #outer loop for rows
  for i in range(n, 0, -1):

   #inner loop1 for print space
    for j in range(space, 0, -1):
      print(" ", end="")
    #inner loop2 for print star
    for k in range(1, i+1):
      print("* ", end="")
    #end of line after each row
    print()
    # for decrease space
    space= space+1
n = int(input("enter the no of row:"))
star_pattern4(n)

enter the no of row:9
         * * * * * * * * *
          * * * * * * * *
           * * * * * * *
            * * * * * *
             * * * * *
              * * * *
               * * *
                * *
                 *

In [8]:
#define a function
def star_pattern2(n):

  #outer for loop for rows
  for i in range (n, 0, -1):

    #inner for loop for columns/star
    for j in range(1, i+1):
      print("* ", end="")

    print()

n=int(input("enter no of rows:"))
star_pattern2(n)

enter no of rows:9
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

#Diamond

In [9]:
#define a function
def star_pattern5(n):
  space = n

  #outer loop for rows
  for i in range(1, n+1):

   #inner loop1 for print space
    for j in range(1, space+1):
      print(" ", end="")
    #inner loop2 for print star
    for k in range(1, i+1):
      print("* ", end="")
    #end of line after each row
    print()
    # for decrease space
    space= space-1



  #outer loop for rows
  for i in range(n, 0, -1):

   #inner loop1 for print space
    for j in range(space+1, 0, -1):
      print(" ", end="")
    #inner loop2 for print star
    for k in range(1, i+1):
      print("* ", end="")
    #end of line after each row
    print()
    # for decrease space
    space= space+1


n = int(input("enter the no of row:"))
star_pattern5(n)

enter the no of row:9
         *
        * *
       * * *
      * * * *
     * * * * *
    * * * * * *
   * * * * * * *
  * * * * * * * *
 * * * * * * * * *
 * * * * * * * * *
  * * * * * * * *
   * * * * * * *
    * * * * * *
     * * * * *
      * * * *
       * * *
        * *
         *

#Hollow diamond

In [10]:
#define a function

def pattern(n):
   # print upper hollow pyramid
   for i in range(n):
      for j in range(n-i-1):
         print(" ", end=" ")
      for j in range(2*i+1):
         if j == 0 or j == 2*i:
            # printing stars
            print("*", end=" ")
         else:
            print(" ", end=" ")
      print()

   # print downward hollow pyramid
   for i in range(n-1):
      for j in range(i+1):
         print(" ", end=" ")
      for j in range(2*(n-i-1)-1):
         if j == 0 or j == 2*(n-i-1)-2:
            # printing stars
            print("*", end=" ")
         else:
            print(" ", end=" ")
      print()

# take inputs
n = int(input('Enter the number of rows: '))

# calling function
pattern(n)

Enter the number of rows: 9
                *
              *   *
            *       *
          *           *
        *               *
      *                   *
    *                       *
  *                           *
*                               *
  *                           *
    *                       *
      *                   *
        *               *
          *           *
            *       *
              *   *
                *

#Hollow diamond in filled square

In [11]:
#Using Nested forloop

n = int(input("enter the no of rows"))
for i in range(n,0,-1):
  for j in range(i, 0,-1):
    print("*",end=" ")
  # for print space
  for j in range(2*(n-i)):
    print(" ",end=" ")
  for j in range(i,0,-1):
    print("*",end=" ")
  print()

for i in range(1,n):
  for j in range(i+1):
    print("*",end=" ")
  for j in range(2*(n-i-1)):
    print(" ",end=" ")
  for j in range(i+1):
    print("*",end=" ")
  print()

enter the no of rows9
* * * * * * * * * * * * * * * * * *
* * * * * * * *     * * * * * * * *
* * * * * * *         * * * * * * *
* * * * * *             * * * * * *
* * * * *                 * * * * *
* * * *                     * * * *
* * *                         * * *
* *                             * *
*                                 *
* *                             * *
* * *                         * * *
* * * *                     * * * *
* * * * *                 * * * * *
* * * * * *             * * * * * *
* * * * * * *         * * * * * * *
* * * * * * * *     * * * * * * * *
* * * * * * * * * * * * * * * * * *